@using (Html.BeginForm("EditKhachHang", "Forms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    @model Demo.Models.KhachHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EditKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}

    <h1>EditKhachHang</h1>

    <h4>KhachHang</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="EditKhachHang" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sdt" class="control-label"></label>
                    <input asp-for="Sdt" class="form-control" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Img" class="control-label"></label>
                    <input type="file" name="formFile" asp-for="Img" class="form-control" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
