@using (Html.BeginForm("EditNhanVien", "Forms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    @model Demo.Models.NhanVien
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}

    <h1>Chỉnh sửa thông tin nhân viên</h1>

    <h4>Nhân viên</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        <form method="post" asp-action="EditNhanVien" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="AnhDaiDien" class="control-label"></label>
                    <input type="file" name="formFile" asp-for="AnhDaiDien" class="form-control" />
                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgaySinh" class="control-label"></label>
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="GioiTinh" /> @Html.DisplayNameFor(model => model.GioiTinh)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="LuongCb" class="control-label"></label>
                    <input asp-for="LuongCb" class="form-control" />
                    <span asp-validation-for="LuongCb" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdPhong" class="control-label"></label>
                    <select asp-for="IdPhong" class="form-control" asp-items="ViewBag.IdPhong"></select>
                    <span asp-validation-for="IdPhong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCv" class="control-label"></label>
                    <select asp-for="IdCv" class="form-control" asp-items="ViewBag.IdCv"></select>
                    <span asp-validation-for="IdCv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
