@model List<LoaiMonAn>
<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	@{
		var firtmenu = Model.FirstOrDefault();
	}
	@foreach (var item in Model)
	{
    var getUrl = "https://localhost:7270/home/menu/api/productapi/" + @item.Id;
		if (item == firtmenu)
		{
			<a  class="nav-link ftco-animate fadeInUp ftco-animated active" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false" style="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.TenLoai</a>
		}
		else
		{
			<a  class="nav-link ftco-animate fadeInUp ftco-animated" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false" style="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.TenLoai</a>
		}
		//  <li><a style="cursor:pointer" onclick="showProductByCategory('@getUrl')">@item.TenLoai</a></li>
 
	}
</div>
	
<script>

</script>

